<header>
	<h1>Website content editor</h1>
</header>

<ul class="tabs">
	<li class="label">Language:</li>
	{{ languages }}
</ul>

<form method="post" action="admin/edit/save?language={{ active_lang }}">

	<fieldset>
		<div class="box">
		{{ fields }}
		</div>
	</fieldset>

	<div class="buttons ending">
		<button type="submit" class="accept">
			Save
			<svg class="icon-16"><use xlink:href="#icon-16_accept"></use></svg>
		</button>
		<button type="reset" class="cancel">
			Reset
			<svg class="icon-16"><use xlink:href="#icon-16_ban"></use></svg>
		</button>

		<p title="Fields that was in the database but don't exists in template"><small>Fields skipped: {{ skipped_fields }}</small></p>
	</div>

</form>