<!DOCTYPE html>
<html>

	<head>
		<base href="{{ site_path }}/">

		<meta charset="utf-8">
		<title>{{ site_name }} &mdash; Administration panel</title>

		<link rel="stylesheet" type="text/css" href="{{ theme_path }}/style/style.css">
		<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Roboto:400,700,300,400italic,700italic">

		<script type="text/javascript">
			var themePath = '{{ theme_path }}';
		</script>
	</head>

	<body class="{{ loggedin }}">
		<div id="loadbar"></div>

		<nav>
			<a href="admin" class="logo logo-big">VIZU</a>

			<ul id="main-menu">
				<li><a href="admin/edit?field_category=text">
					<svg class="icon-24"><use xlink:href="#icon-24_document"></use></svg>
					Contents
				</a></li>
				<li><a href="admin/edit?field_category=setting">
					<svg class="icon-24"><use xlink:href="#icon-24_gearwheel"></use></svg>
					Settings
				</a></li>
				<li><a href="admin/user">
					<svg class="icon-24"><use xlink:href="#icon-24_user"></use></svg>
					Users
				</a></li>
				<li><a href="admin/history">
					<svg class="icon-24"><use xlink:href="#icon-24_history"></use></svg>
					Activity log
					</a></li>
				<!-- Hide unfinished option
				<li><a href="admin/backup">
					<svg class="icon-24"><use xlink:href="#icon-24_download"></use></svg>
					Backup
				</a></li>
				-->
				<li><a href="./" data-noajax>
					<svg class="icon-24"><use xlink:href="#icon-24_table"></use></svg>
					Website
				</a></li>
			</ul>

			<div id="toolbar">
				<a href="admin/logout">
					<svg class="icon-16"><use xlink:href="#icon-16_sign-out"></use></svg>
					Logout
				</a>
			</div>
		</nav>

		<div id="pages">{{ page }}</div>

		<div id="login">
			<div class="box pad-double toleft" style="width: 360px; margin-top: 100px">
				<form action="admin/login" method="post" class="login">
					<a href="" class="logo logo-big">{{ site_name }}</a>
					<h3>Admin panel log in:</h3>
					<input type="email" name="email" placeholder="Email address" novalidate>
					<input type="password" name="pass" placeholder="Password" novalidate>
					<div class="buttons">
						<button type="submit" class="accept">
							Login
							<svg class="icon-16"><use xlink:href="#icon-16_sign-in"></use></svg>
						</button>
					</div>
					<div class="errorbox"></div>
				</form>

				<p><a data-toggle-visibility="passrec">Password recovery</a></p>
				<form action="admin/passrec" method="post" class="passrec" id="passrec">
					<input type="email" name="email" placeholder="Email address">
					<div class="buttons">
						<button type="submit" class="accept">
							Recover
							<svg class="icon-16"><use xlink:href="#icon-16_back"></use></svg>
						</button>
					</div>
				</form>
			</div>
		</div>

		<div id="msgbox">
			<p></p>
		</div>

		<script type="text/javascript" src="{{ theme_path }}/js/jquery-3.2.1.min.js"></script>
		<script type="text/javascript" src="{{ theme_path }}/js/jquery.richtexteditor.js"></script>
		<script type="text/javascript" src="{{ theme_path }}/js/jquery.observe.js"></script>
		<script type="text/javascript" src="{{ theme_path }}/js/jquery.svgiconsetloader.js"></script>
		<script type="text/javascript" src="{{ theme_path }}/js/custom.js"></script>
	</body>
</html>