<!DOCTYPE html>
<html>

	<head>
		<base url="{{ site_path }}">

		<meta charset="utf-8">
		<title>Administracja serwisem</title>

		<link rel="stylesheet" type="text/css" href="{{ site_path }}/themes/admin/style/style.css">
		<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Roboto:400,700,300,400italic,700italic">

		<script type="text/javascript">
			var themePath = '{{ theme_path }}';
		</script>
	</head>

	<body class="{{ loggedin }}">
		<div id="loadbar"></div>

		<nav>
			<a href="{{ site_path }}/admin" class="logo logo-big">VIZU</a>

			<ul id="main-menu">
				<li><a href="admin/edit?field_category=text">
					<svg class="icon-24"><use xlink:href="#icon-24_document"></use></svg>
					Zawartość
				</a></li>
				<li><a href="admin/edit?field_category=setting">
					<svg class="icon-24"><use xlink:href="#icon-24_gearwheel"></use></svg>
					Ustawienia
				</a></li>
				<li><a href="admin/user">
					<svg class="icon-24"><use xlink:href="#icon-24_user"></use></svg>
					Użytkownik
				</a></li>
				<li><a href="admin/history">
					<svg class="icon-24"><use xlink:href="#icon-24_history"></use></svg>
					Historia
					</a></li>
				<!-- Hide unavailable module
				<li><a href="admin/backup">
					<svg class="icon-24"><use xlink:href="#icon-24_download"></use></svg>
					Backup
				</a></li>
				-->
				<li><a href="./" data-noajax>
					<svg class="icon-24"><use xlink:href="#icon-24_table"></use></svg>
					Strona
				</a></li>
			</ul>

			<div id="toolbar">
				<a href="{{ site_path }}/admin/logout">
					<svg class="icon-16"><use xlink:href="#icon-16_sign-out"></use></svg>
					Wyloguj
				</a>
			</div>
		</nav>

		<div id="pages">{{ page }}</div>

		<div id="login">
			<div class="box pad-double toleft" style="width: 360px; margin-top: 100px">
				<form action="{{ site_path }}/admin/login" method="post" class="login">
					<a href="" class="logo logo-big">VIZU</a>
					<h3>Zaloguj się</h3>
					<input type="text" name="email" placeholder="Email" novalidate>
					<input type="password" name="pass" placeholder="Hasło" novalidate>
					<div class="buttons">
						<button type="submit" class="accept">
							<svg class="icon-16"><use xlink:href="#icon-16_sign-in"></use></svg>
							Zaloguj
						</button>
						<button class="cancel" data-url="{{ site_path }}">
							<svg class="icon-16"><use xlink:href="#icon-16_arrow"></use></svg>
							Wróć
						</button>
					</div>
					<div class="errorbox"></div>
					<p><a href="user/passrec">Nie pamiętam hasła</a></p>
				</form>
			</div>
		</div>

		<div id="msgbox">
			<p></p>
			<a href="">Cofnij</a>
		</div>

		<script type="text/javascript" src="{{ theme_path }}/js/jquery-3.2.1.min.js"></script>
		<script type="text/javascript" src="{{ theme_path }}/js/jquery.richtexteditor.js"></script>
		<script type="text/javascript" src="{{ theme_path }}/js/jquery.observe.js"></script>
		<script type="text/javascript" src="{{ theme_path }}/js/jquery.svgiconsetloader.js"></script>
		<script type="text/javascript" src="{{ theme_path }}/js/custom.js"></script>
	</body>
</html>