<header>
	<h1>Users</h1>
</header>

<div class="grid">
	<div class="row">
		<div class="col-6 pad-right">
			<div class="box pad pad-bottom">
				<h3>Users list</h3>
				<table class="data">
					<tr>
						<th>ID</th>
						<th>Email</th>
					</tr>
					{{ users_list }}
				</table>
			</div>
		</div>

		<div class="col-6 pad-left">
			<div class="box pad">
				<h3>User password change</h3>
				<p>Logged in user: {{ user_email }}</p>

				<br>

				<form method="post" action="admin/user/change_password">
					<label>
						Old password
						<input type="password" name="password_actual" required>
					</label>
					<br><br>
					<label>
						New password
						<input type="password" name="password_new1" required>
					</label>
					<br><br>
					<label>
						Repeat new password
						<input type="password" name="password_new2" required>
					</label>

					<div class="buttons">
						<button type="submit" class="accept">
							Save
							<svg class="icon-16"><use xlink:href="#icon-16_accept"></use></svg>
						</button>
						<button type="reset" class="cancel">
							Reset
							<svg class="icon-16"><use xlink:href="#icon-16_ban"></use></svg>
						</button>
					</div>
				</form>
			</div>

			<div class="box pad">
				<h3>Create new user</h3>
				<form method="post" action="admin/user/user_add">
					<label>
						User e-mail address:
						<input type="email" name="email" required>
					</label>
					<br><br>
					<p>User will be notified by email about account creation. Login data will be added to correspondence.</p>

					<div class="buttons">
						<button type="submit" class="accept">
							Save
							<svg class="icon-16"><use xlink:href="#icon-16_accept"></use></svg>
						</button>
						<button type="reset" class="cancel">
							Reset
							<svg class="icon-16"><use xlink:href="#icon-16_ban"></use></svg>
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>