* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	outline: none;
	border: none;
	background: transparent;
}

body {
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	color: #1f1e38;
	background-color: #f5f5f3;
}

.Inner {
	margin: auto;
	padding: 0 7vw;
	width: 100%;
	max-width: 1200px;
}

h1 {
	margin: 24px 0 40px 0;
	font-size: 50px;
	line-height: 1.2em;
	font-weight: 500;
}

	h1 span {
		color: #00a8ff;
	}

h2 {
	margin: 30px 0;
	font-size: 24px;
	font-weight: 400;
	line-height: 1.4em;
	color: #8fa3ad;
}

h3 {
	margin: 20px 0;
	font-size: 18px;
	font-weight: 700;
	line-height: 1.2em;
}

article {
	margin-bottom: 30px;
}

p {
	margin: 14px 0 0 0;
	font-size: 15px;
	line-height: 1.6em;
}

strong {
	font-weight: 700;
}

a {
	color: #00a8ff;
	text-decoration: none;
	transition: .2s;
}
a:hover {
	color: #0199e7;
	text-decoration: underline;
}
a:active {
	transform: translateY(2px);
}

ul {
	font-size: 14px;
}

	li {
		margin-left: 40px;
	}

form {
	display: block;
	margin: 30px 0;
	transition: .3s;
}

	form.is-Sending {
		opacity: .5;
	}

.is-Error .ContactForm__message {
	color: red;
}

label {
	display: block;
	margin: 0 0 30px 0;
	font-size: 15px;
}

input[type='text'],
input[type='email'],
textarea {
	margin-top: 10px;
	padding: 10px 16px;
	width: 100%;
	border: 1px solid #ccccc9;
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	transition: .2s;
}

input[type='checkbox'] {
	margin: 10px;
}

	input[type='text'].is-Error,
	input[type='email'].is-Error,
	textarea.is-Error {
		border-color: red;
	}

	input[type='checkbox'].is-Error {
		background-color: red;
		box-shadow: 0 2px 20px red;
	}

button {
	display: inline-flex;
	padding: 10px 20px;
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	font-weight: 700;
	font-size: 14px;
	letter-spacing: .02em;
	text-transform: uppercase;
	color: #fff;
	background-color: #00a8ff;
	transition: .3s;
	cursor: pointer;
}

	button:hover {
		background-color: #008cd4;
	}

	.is-Sending button {
		background-color: #7f7f7f;
		pointer-events: none;
	}

.Header {
	display: flex;
	align-items: center;
	padding: 8vh 0;
	height: 100vh;
	border-top: 2px solid #00a8ff;
}

	.Header__lang {
		position: absolute;
		top: 2vw;
		right: 2vw;
		list-style-type: none;
	}

		.Header__lang li {
			float: left;
		}

		.is-Lang--en .Header__lang__en {
			font-weight: 700;
		}

		.is-Lang--pl .Header__lang__pl {
			font-weight: 700;
		}

	.Header__text {
		max-width: 500px;
		will-change: opacity, transform;
		animation: 1s ease-out 0s 1 slidein;
	}

.Main {
	padding: 8vh 0;
	border-top: 1px solid #dcdcd9;
}

	.Main .Inner {
		display: flex;
		flex-wrap: wrap;
	}

	.Main__content {
		padding-right: 5vw;
		width: 50%;
	}

	.Main__form {
		padding-left: 5vw;
		width: 50%;
	}

.Footer {
	padding-top: 40px;
	padding-bottom: 80px;
	border-top: 1px solid #dcdcd9;
	font-size: 12px;
	color: #969694;
}


@keyframes slidein {
	0% { opacity: 0; transform: translateX(50px); }
	100% { opacity: 1; transform: translateX(0); }
}


@media (max-width: 640px) {
	.Header {
		height: auto;
	}

	.Main__content,
	.Main__form {
		padding: 0;
		width: 100%;
	}
}