/*
 * =================================================================================
 * CUSTOM UTILITIES
 *
 * It has a very specific role (often providing only one declaration)
 * and should not be bound onto or changed. It can be reused and is not tied
 * to any specific piece of UI.
 * =================================================================================
 */


/* ---------------------------------------------------------------------------------
 * Blocks
 */

.u-Wrapper {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	max-width: calc(#{$width-content} + #{$gutter * 2});
	padding-left: $gutter;
	padding-right: $gutter;

	&--narrow {
		max-width: calc(#{$width-content} * .7 + #{$gutter * 2});
	}
}


/* ---------------------------------------------------------------------------------
 * Spacers
 */

.u-Pad {
	padding: $gutter;

	&--top { padding-top: $gutter; }
	&--bottom { padding-bottom: $gutter; }
	&--left { padding-left: $gutter; }
	&--right { padding-right: $gutter; }
}


/* ---------------------------------------------------------------------------------
 * Alignemnts
 */

.u-Items {
	&--center {
		display: flex;
		align-items: center;
	}
}

/* ---------------------------------------------------------------------------------
 * Colors
 */

.u-Color {
	&--brand-1 { color: $color-brand-1; }
}


/* ---------------------------------------------------------------------------------
 * Borders
 */

.u-Border {
	&--top { border-top: 1px solid $color-lines; }

	&--brand {
		border-color: $color-brand-1;
	}
}


/* ---------------------------------------------------------------------------------
 * Typography
 */

.u-Heading {
	&--hero {
		margin-left: -8px;
		margin-bottom: .4em;
		font-size: 160px;
		font-weight: 700;
		color: $color-white;
		text-shadow: $shadow-lg-light;
	}
}

.u-Lead {
	font-size: 17px;
	font-weight: 300;
	line-height: 1.5em;
	color: lighten($color-text, 20);

	@include narrower-than(md) {
		font-size: 16px;
		letter-spacing: .02em;
	}
}
