/*
 * =================================================================================
 * CUSTOM UTILITIES
 *
 * It has a very specific role (often providing only one declaration)
 * and should not be bound onto or changed. It can be reused and is not tied
 * to any specific piece of UI.
 * =================================================================================
 */


/* ---------------------------------------------------------------------------------
 * Blocks
 */

.u-Wrapper {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	max-width: calc(#{$width-content} + #{$gutter * 2});
	padding-left: $gutter;
	padding-right: $gutter;

	&--narrow {
		max-width: calc(#{$width-content} * .7 + #{$gutter * 2});
	}
}


/* ---------------------------------------------------------------------------------
 * Spacers
 */

.u-Pad {
	padding: $gutter;

	&--top { padding-top: $gutter; }
	&--bottom { padding-bottom: $gutter; }
	&--left { padding-left: $gutter; }
	&--right { padding-right: $gutter; }
}


/* ---------------------------------------------------------------------------------
 * Page top
 */

.u-PageTop {
	display: flex;
	align-items: center;
	padding: 20px 0;
	min-height: 16vh;

	h1 {
		margin: 0;
	}

	select {
		width: auto;
		margin-left: 10px;
		border: none;
	}

	&__buttons {
		margin-left: auto;
	}

	&__option {
		display: inline-block;
		padding-left: 16px;
		background-color: rgba($color-black, .05);

		&:hover {
			select {
				background-color: rgba($color-black, .05);
			}
		}

		&--short {
			select {
				font-weight: bold;
				font-size: 12px;
			}
		}
	}
}


/* ---------------------------------------------------------------------------------
 * Alignemnts
 */

.u-Items {
	&--center {
		display: flex;
		align-items: center;
	}
}

/* ---------------------------------------------------------------------------------
 * Colors
 */

.u-Color {
	&--brand-1 {
		color: $color-brand-1;
	}
	&--brand-3 {
		color: $color-brand-3;
	}
	&--dark {
		color: $color-dark;
	}
 }


/* ---------------------------------------------------------------------------------
 * Borders
 */

.u-Border {
	&--top { border-top: 1px solid $color-lines; }

	&--brand {
		border-color: $color-brand-1;
	}
}


/* ---------------------------------------------------------------------------------
 * Typography
 */

.u-Heading {
	&--hero {
		margin-left: -8px;
		margin-bottom: .4em;
		font-size: 160px;
		font-weight: 700;
		color: $color-white;
		text-shadow: $shadow-lg-light;
	}
}

.u-Lead {
	font-size: 17px;
	font-weight: 300;
	line-height: 1.5em;
	color: lighten($color-text, 20);

	@include narrower-than(md) {
		font-size: 16px;
		letter-spacing: .02em;
	}
}

.u-DashList {
	margin-bottom: $box-bottom-margin;
	list-style-type: none;

	li {
		position: relative;
		margin-bottom: 6px;
		padding-left: 40px;

		&::before {
			content: '';
			position: absolute;
			top: 11px;
			left: 12px;
			height: 1px;
			width: 14px;
			background-color: $color-gray;
		}
	}
}

.u-Width {
	&--full {
		width: 100%;
	}
}

.u-FormRow {
	display: flex;

	&__label {
		width: 33.333%;
	}

	&__input {
		width: 66.666%;
	}
}