<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Page not found</title>

	<style>
		body {
			font-family: Roboto, Arial, sans-serif;
		}

		div {
			margin: 100px auto 0 auto;
			max-width: 500px;
		}

		a { text-decoration: none; }
		a:hover { text-decoration: underline; }
	</style>
</head>
<body>
	<div>
		<h1>{{ lang id='page-not-found-title' }}</h1>
		<p>{{ lang id='page-not-found-desc' }}</p>
		<p><a href="{{ site_path }}">&lsaquo; {{ lang id='page-not-found-link' }}</a></p>
	</div>
</body>
</html>