<!DOCTYPE html>
<html lang="{{ lang id='lang' }}">

<head>

	<base href="{{ site_path }}/">

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<meta name="description" content="{{ setting type='simple' id='site_description' name='Site description' max='160' }}">

	<title>{{ setting type='simple' id='site_title' name='Site name' }}</title>

	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,700">
	<link rel="stylesheet" type="text/css" href="{{ theme_path }}css/default.css">

	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
	<link rel="icon" sizes="32x32" href="{{ theme_path }}images/favicon32.png" type="image/png">
	<link rel="icon" sizes="64x64" href="{{ theme_path }}images/favicon64.png" type="image/png">

	<meta property="og:title" content="{{ setting id='site_title' }}">
	<meta property="og:url" content="{{ site_path }}">
	<meta property="og:image" content="{{ theme_path }}images/og-image.png">
	<meta property="og:description" content="{{ setting id='site_description' }}">

</head>

<body>

	<header class="Header">
		<div class="Inner">
			<hgroup class="Header__text">
				<h1>Welcome to <span>VISU</span></h1>
				<h2>Simple, dependency-free CMS system that allows for quick implementation of simple Web pages</h2>
				<p>This theme is only for presentation purpose. View it's source to see how themes are made and then... delete it! Nobody likes crap.</p>
				<p>&mdash; &nbsp; <a href="https://github.com/peronczyk/vizu">View VISU on Github</a></p>
			</hgroup>
		</div>
	</header>

	<main class="Main">
		<div class="Inner">
			Connected to database: {{ db_connected }}<br>
			Queries made: {{ db_queries }}
		</div>
	</main>

	<footer class="Footer">
		<div class="Inner"></div>
	</footer>

</body>

</html>